@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: "Rubik", sans-serif;
}



/*Esquema de cores do layout */
:root {
--dark-blue: #0A1744;
--dark-blue-variation:#0B1741;
--blue: #1E3E7B;
--white: #FFFFFF;
--purple-mid:#5538EE29;
--black:#000000;
--light-green:#72EFDB;
}