.hero-header {
background-image: url(../assets/img/hero-bg.jpg) 50% no-repeat;
position: relative;
height: 100vh;
width: 100%;
height: 100%;
padding:0;
margin:0;
display: flex;
flex-direction: column;
color:#fff;
 -webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
 background-size: cover;
}

.hero-container{
display: flex;
flex-direction: column;
width: 55%;
justify-content: space-around;
margin: 200px;
}

.hero-container h1 {
font-size: 82px;
}

.hero-container p {

font-size:31px;




}


.hero-search-bar {

justify-self: center;
align-self: center;
}