.heroHeader {
  background: url(../assets/img/hero-bg.jpg) 100% no-repeat;
  position: relative;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  color: #fff;
  background-size: cover;
  justify-content: center;
}

.heroContainer {
  display: flex;
  flex-direction: column;
  width: 42%;
  justify-content: space-around;
  align-items: center;
  margin: 6vw 100px 30px 100px;
  gap: 1.0625rem;
  min-height: 3.125rem;
}

.heroContainer h1 {
  font-size: 5.125rem;
  margin-top: 0.9375rem;
}

.heroContainer p {
  font-size: 1.9375rem;
}

.heroSearchBar {
  justify-self: center;
  align-self: center;
  display: flex;
  background: #1e3e7b 0% 0% no-repeat padding-box;
  border-radius: 4.5rem;
  opacity: 1;
  border: none;
  margin-top: 4vw;
  width: 50vw;
  justify-content: baseline;
  gap: 0.625rem;
}

.heroSearchBar img {
  padding-left: 25px;
  padding-right: 10px;
  cursor: pointer;
}

.heroSearchBar > img:hover {
  animation: floating 1s infinite;
  position: relative;
}

@keyframes floating {
  0% {
    bottom: 0rem;
  }

  25% {
    bottom: 0.625rem;
  }

  25% {
    bottom: 0.9375rem;
  }

  100% {
    bottom: 0rem;
  }
}

.heroSearchBar input {
  padding: 30px 0;
  text-align: left;
  background: none;
  border: none;
  font-size: 1.875rem;
  color: #ffff;
  opacity: 0.57;
  width: 89%;
}

input:focus {
  outline: none;
}

.gradient-bg {
  background: transparent linear-gradient(180deg, #0a174400 0%, #0a1744 100%) 0%
    0% no-repeat padding-box;
  opacity: 1;
  z-index: 1;
  width: 100%;
  height: 50px;
  bottom: 0;
  position: absolute;
}

@media (max-width: 90rem) {
  .heroHeader {
    align-items: center;
  }

  .heroContainer {
    width: 100%;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
  }

  .heroSearchBar {
    margin-top: 5vw;
  }

  .heroSearchBar input {
    padding: 20px 0;
  }

  .heroContainer h1 {
    font-size: 3.125rem;
    margin: 0 2vw;
  }

  .heroContainer p {
    font-size: 1.25rem;
    margin: 0 2vw;
  }
}

@media (max-width: 768px) {
  .heroHeader {
    align-items: center;
    justify-content: center;
  }

  .heroSearchBar input {
    font-size: 1.0625rem;
  }

  .heroSearchBar img {
    padding: 1.25rem 0rem 0 0.625rem;
    width: 2.5rem;
    height: 2.5rem;
    text-align: center;
  }

  .heroContainer {
    width: 100%;
    margin: 0 auto 20vw auto;
    align-items: center;
    justify-content: center;
  }

  .heroContainer h1 {
    font: normal normal bold 2.25rem/2.4375rem Rubik;
    padding: 0 10vw;
    text-align: left;
    width: 100%;
    margin-top: 1.25rem;
  }
  .heroContainer p {
    font: normal normal normal 1rem/1.375rem Rubik;
    text-align: left;
    width: 100%;
    padding: 0 10vw;
  }

  .heroSearchBar {
    max-width: 20.625rem;
    margin-top: 0;
    margin-bottom: 5vw;
  }

  .heroSearchBar input {
    padding: 1.25rem 0;
  }
}

@media (max-width: 25.875rem) {
  .heroHeader {
    background: url(../assets/img/mobile-hero-bg.jpg);
  }

  .gradient-bg {
    height: 6.25rem;
  }

  .heroSearchBar {
    margin-bottom: 0vw;
    padding: 0;
    height: 15vw;
    width: 100vw;
  }

  .heroContainer {
    margin: 0 10vw 5vw 10vw;
    padding: 0 4.8vw;
    min-height: 0;
  }

  .heroContainer h1 {
    width: 100%;
    padding: 0;
    margin: 0;
  }

  .heroContainer p {
    width: 100%;
    padding: 0;
    margin: 0;
  }
}
