.mainHome {
  background: #0a1744 0% 0% no-repeat padding-box;
  height: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.mainHome h2 {
  text-align: center;
  color: var(--white);
  font-size: 2rem;
  padding: 1.875rem 0;
  margin-bottom: 3.125rem;
}

.mainGrid {
  display: flex;
  justify-content: center;
  width: 100vw;
  background: #0a1744 0% 0% no-repeat padding-box;
  margin-bottom: 3.125rem;
  gap: 4vw;
}

.gridLeft {
  display: none;
}
.gridRight {
  display: none;
}

.gridLeftDesktop {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  width: 40vw;
  padding: 0 0 0 10vw;
}

.gridRightDesktop {
  display: flex;
  flex-direction: column;
  width: 50vw;
}

.imgBox {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 25px;
  align-items: center;
  justify-content: flex-end;
}

.mobileSelect {
  display: none;
}

@media (max-width: 1440px) {
}

@media (max-width: 1024px) {
  .mainGrid {
    gap: 30px;
  }
}

@media (max-width: 48rem) {
  .mainGrid {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .gridRightDesktop {
    display: none !important;
  }

  .gridLeftDesktop {
    display: none !important;
  }

  .gridRight {
    display: flex;
    flex-direction: column;
    grid-column: 2;
    width: 100%;
  }
  .imgBox {
    justify-content: center;
    gap: 0.625rem;

    margin: 0 auto;
  }

  .gridLeft {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100vw;
    flex-wrap: wrap;
  }

  .hide {
    display: none;
  }
  .show {
    display: block;
  }

  .mainHome {
    padding: 0 1.25rem;
  }

  .mainHome h2 {
    display: none;
  }

  .mobileSelect {
    display: block;
    margin-bottom: 3.125rem;
    width: 100vw;
    display: flex;
  }

  .mobileSelect button {
    width: 100%;
    border: none;
    background: none;
    padding-bottom: 0.625rem;
    text-align: center;
    font-size: 1.25rem;
    letter-spacing: 0rem;
    cursor: pointer;
    color: #fff;
    border-bottom: 0.0313rem solid #cececece;
  }
  .buttonSelected {
    color: #72efdb !important;
    border-bottom: 0.1875rem solid #72efdb !important;
  }
}

@media (max-width: 25.875rem) {
  .mainGrid {
    gap: 1.875rem;
    padding: 4vw;
  }

  .gridLeft {
    padding: 0 2vw;
  }

  .imgBox {
    width: 100%;
    gap: 0;
  }
}
