.mainHome {
background: #0A1744 0% 0% no-repeat padding-box;
  height: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
 
}
.mainHome h2 {
  text-align: center;
  color: var(--white);
  font-size: 32px;
  padding: 30px 0;
  margin-bottom: 50px;
}

.mainGrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 80%;
  background: var(--dark-blue-variation);
  margin-bottom: 50px;
  
}

.gridLeft {
display: flex;
flex-direction: column;

}

.gridRight {
  display: grid;
  grid-auto-rows: 180px;
  grid-template-columns: 1fr;
  grid-column: 2/2;
}

.imgBox{
display: flex;
justify-content: center;
gap: 40px;

}

@media(max-width: 1024px){
.mainGrid {
  width: 100%;
  gap: 30px;
}

}


@media (max-width:768px){
.mainHome{
padding: 0 20px;
}
  
.mainGrid{
  width: 100%;
}

}