.imgContainer {
  opacity: 1;
  display: flex;
  align-items: flex-end;
  border-radius: 1.25rem;
  height: 12.5rem;
  width: 12.5rem;
  margin-bottom: 1.875rem;
}

.imgContainer img{
  width: 100%
}

.imgContainer figure{
  width: 100%;
  height: 100%;
  border-radius: 1.25rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background: cover;
  background-position: center;
  padding: 1.25rem;
  color: #fff;
  opacity: 1;
  box-shadow: inset 0 -6.25rem 1.25rem -3.125rem rgba(0, 0, 0, 0.651);

}
.imgContainer a {
  width: 100%;
  height: 100%;
  border-radius: 1.25rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background: cover;
  background-position: center;
  padding: 1.25rem;
  color: #fff;
  opacity: 1;
  box-shadow: inset 0 -6.25rem 1.25rem -3.125rem rgba(0, 0, 0, 0.651);

}

@media (max-width: 768px) {
  .imgContainer {
    width: 40vw;
    height: 42vw;
    margin: 15px 10px;
  }
}

@media (max-width: 414px) {
  .imgContainer p {
    font-size: 10px;
  }

  .imgContainer h3 {
    font-size: 10px;
  }
}