.imgContainer {
  opacity: 1;
  display: flex;
  align-items: flex-end;
  border-radius: 1.25rem;
  height: 12.5rem;
  width: 12.5rem;
  margin-bottom: 1.875rem;
}

.imgContainer a {
  background-image: url(../assets/img/imgcardTEST.jpg);
  width: 100%;
  height: 100%;
  border-radius: 1.25rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background: cover;
  background-position: center;
  padding: 1.25rem;
  color: #fff;
  opacity: 1;
  box-shadow: inset 0 -6.25rem 1.25rem -3.125rem rgba(0, 0, 0, 0.651);
}

@media (max-width: 48rem) {
  .imgContainer {
    width: 40vw;
    height: 42vw;
    margin: .9375rem .625rem;
  }
}

@media (max-width: 25.875rem) {
  .imgContainer p {
    font-size: .625rem;
  }
  .imgContainer h3 {
    font-size: .625rem;
  }
}
