/* Main and List Styles */
.ListMain{
    min-height: 100vh;
    background-image: linear-gradient(to bottom right, #132B66, #001D5A);
    display: flex;
    justify-content: center;
}

.ListContainer{
    margin-top: 130px;
    width: 80%;
}

.ListTitle{
    color: #72EFDB;
}

.ListTable {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    margin-bottom: 85px;
    background: #002063;
    border-radius: 14px;
    backdrop-filter: blur(30px);
    -webkit-backdrop-filter: blur(30px);
    opacity: 1;
}

.ListColumns {
    display: flex;
    align-items: flex-end;
    padding: 30px;
    background: #000F63;
    border-radius: 14px;
    opacity: 1;
    backdrop-filter: blur(30px);
    -webkit-backdrop-filter: blur(30px);
    height: 100px;
}

.ListColumns > *, .ListRow > *{
    color: #72EFDB;
}

/* Columns width */
.hashTagColumn{
    width: 65%;
    font-weight: 600;
}

.dateColumn, .hourColumn{
    width: 20%;
    font-weight: 600;
}

/* Row Styles */
.ListRow {
    display: flex;
    padding: 30px;
    color: #72EFDB;
    background-clip: padding-box;
    border-bottom: thin rgba(114, 239, 219, .1) solid;
    margin: 0 20px 0 20px;
}

/* Rows Width */
.RowHashtagName{
    width: 65%;
}

.RowDate, .HourDate{
    width: 20%;
}

/* Responsive */

@media only screen and (max-width: 768px) {
    /* List and Main styles */
    .ListTitle{
        display: flex;
        justify-content: center;
    }

    .ListContainer{
        width: 100%;
        margin-left: 10px;
        margin-right: 10px;
    }

    /* Column Responsive Styles */
    /* Columns Width */
    .hashTagColumn {
        width: 45%;
    }

    .dateColumn{
        width: 40%;
    }

    .hourColumn {
        width: 15%;
        text-align: end;
    }

    /* Row Responsive Styles */
    /* Rows Width */
    .RowHashtagName {
        width: 45%;
    }

    .RowDate{
        width: 40%;
    }

    .HourDate{
        width: 15%;
        text-align: end;
    }

}