
.mainLogin{
    width: 100%;
    height: 170vh;
    background:var(--dark-blue-variation);
    background-image: url('../assets/img/hero-bg.jpg');
    background-position: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.formContainer{
    
    margin-top: 10%;
    height: 130vh;
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: #18326B;
    opacity: 80%;
    border-radius: 10px;
    z-index: 1;
  
}


.formContainer h2{
    margin-top: 20%;
    margin-bottom: 20%;
    color: #72EFDB;
    background-color:#18326B;

}

  
.loginForm {

    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #E9E9F0;
    background: #18326B;
    opacity: 100%;
    border-radius: 10px;
    z-index: 5;
    
}
    
.formInput {
    
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: space-evenly;
    margin: 8px;
    background-color: #18326B;
    border-color: #E9E9F0;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    margin-bottom: 5%;

}

.formInput h2{
    font-size: large;
}
 

.textInput{
    width: 90%;
    border-bottom: #E9E9F0;
    
}

.formInput{
    color: #E9E9F0;
}

.submitBtn {
    background-color: #72efdb;
    color: #0b1741;
    margin-top: 20%;
}

.navBtn{
    margin-left: 50%;
}

@media screen and (max-width: 414px) {
    
    .mainLogin{

        height: 120vh;
        background-position: 60% 30%;
    }


    .formContainer{
    
        margin-top: 35%;
        width: 60%;
        
    }


    .loginForm{
        margin-top: 0%;
        margin-bottom: 0%;
    }

    .formInput{
        margin-bottom: 10%;
    }


    .navBtn{
        margin-top: 20%;
        margin-left: 50%;

    }
    
    .submitBtn{
        width: 100%;
    }
} 

@media screen and (min-width: 415px) and (max-width: 768px) {
    
    .mainLogin{

        height: 110vh;
    }

    .loginForm{
       
        margin-top: 0%;
        margin-bottom: 0%;
    }

    .formContainer{

        margin-top: 20%;
        width: 50%;

    }


    .formInput{
        margin-bottom: 10%;
        margin-top: 0%;
    }

    .navBtn{
        margin-top: 20%;
        margin-left: 50%;
        
    }
    
}