@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: "Rubik", sans-serif;
}

.nav-header {
  top: 0px;
  left: 0px;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #0a1744 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 29px #5538ee1f;
  backdrop-filter: blur(30px);
  opacity: 1;
  -webkit-backdrop-filter: blur(30px);
  flex-wrap: wrap;
}

.nav-title {
  margin-left: 50px;
}

.nav-title h2 {
  font-size: 35px;
  font-weight: 400;
  opacity: 1;
  color: #ffffff;
  letter-spacing: 0px;
}

.nav-title span {
  font: normal normal bold 35px/27px Rubik;
}

.nav-menu {
  max-width: 100%;
  max-height: 100%;
  margin-right: 50px;
  display: flex;
  flex-direction: space-between;
}

.nav-menu button {
  border-radius: 25px;
  font-size: 17px;
  padding: 14px 30px;
  font-weight: bold;
  border: none;
  text-transform: uppercase;
  letter-spacing: 2.55px;
}

.nav-menu button {
  background-color: #72efdb;
  color: #0b1741;
  margin-right: 15px;
}

.nav-menu a > button {
  background-color: #1e3e7b;
  margin-right: 10px;
  color: #fff;
}

.nav-menu a > button > img {
  padding-right: 10px;
}

.nav-menu a {
  text-decoration: none;
}
.nav-menu svg {
  width: 12px;
  height: 12px;
}

.footer-div {
  background-color: #1e3e7b;
  height: 200px;
  width: 100%;
  color: #1e3e7b;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-div p {
  color: #fff;
  font-size: 25px;
}
