.nav-wrapper {
  position: fixed;
  width: 100%;
  background: rgb(10, 23, 68, 0.75);
  z-index: 1;
  opacity: 1;
}

.nav-header {
  top: 0px;
  left: 0px;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #0a1744 0% 0% transparent padding-box;
  box-shadow: 0px 3px 29px #5538ee1f;
  opacity: 1;
  flex-wrap: wrap;
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(8px);
  z-index: 1;
}

.nav-title {
  margin-left: 50px;
}

.nav-title h2 {
  font-size: 35px;
  font-weight: 400;
  opacity: 1;
  color: #ffffff;
  letter-spacing: 0px;
}

.nav-title span {
  font: normal normal bold 35px/27px Rubik;
}

.nav-menu {
  max-width: 100%;
  max-height: 100%;
  margin-right: 50px;
  display: flex;
  flex-direction: space-between;
}

.about-btn {
  background-color: #72efdb;
  color: #0b1741;
  margin-right: 30px;
}

.nav-menu button {
  border-radius: 25px;
  font-size: 17px;
  padding: 13px 30px;
  font-weight: bold;
  border: none;
  text-transform: uppercase;
  letter-spacing: 2.55px;
}

.login-btn {
  background-color: #1e3e7b;
  color: #fff;
}

.nav-menu a > button > img {
  padding-right: 10px;
}

.nav-menu a {
  text-decoration: none;
}
.nav-menu svg {
  width: 12px;
  height: 12px;
}
