.navWrapper {
  position: fixed;
  width: 100%;
  background: rgb(10, 23, 68, 0.75);
  z-index: 2;
  opacity: 1;
}

.navHeader {
  top: 0px;
  left: 0px;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #0a1744 0% 0% transparent padding-box;
  box-shadow: 0px 3px 29px #5538ee1f;
  opacity: 1;
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(8px);
  z-index: 1;
}

.navTitle {
  margin-left: 50px;
}

.navTitle h2 {
  font-size: 35px;
  font-weight: 400;
  opacity: 1;
  color: #ffffff;
  letter-spacing: 0px;
}

.navTitle span {
  font: normal normal bold 35px/27px Rubik;
}

.navMenu {
  max-width: 100%;
  max-height: 100%;
  margin-right: 50px;
  display: flex;
  flex-direction: space-between;
}

.aboutBtn {
  background-color: #72efdb;
  color: #0b1741;
  margin-right: 30px;
}

.navMenu button {
  border-radius: 25px;
  font-size: 17px;
  padding: 13px 30px;
  font-weight: bold;
  border: none;
  text-transform: uppercase;
  letter-spacing: 2.55px;
}

.loginBtn {
  background-color: #1e3e7b;
  color: #fff;
}

.navMenu button > img {
  padding-right: 10px;
}

.navMenu a {
  text-decoration: none;
}
.navMenu svg {
  width: 12px;
  height: 12px;
}


@media (max-width:800px) {

.navTitle{
margin-left:15px;

}

.navTitle h2{
font-size: 30px;
font: normal normal normal 19px/14px Rubik;
}

.navTitle span{
font: normal normal bold 19px/14px Rubik;
}
.navMenu{
margin-right: 0;
}

.navMenu button{
font: normal normal bold 10px/7px Rubik;
  padding: 10px 25px;
  margin-right: 15px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items:center;
  letter-spacing: 1.5px;
  opacity: 1;

}




}


@media (max-width:414px) {
.navTitle{
margin: 0 0 0 10px;
}




  
  .navMenu button {
    font: normal normal bold 10px/7px Rubik;
    padding: 10px 10px;
    display: flex;
    letter-spacing: 1.5px;
    opacity: 1;
    margin:0 10px 0 0;
  }

}
