.cardContainer {
  display: flex;
  max-width: 80%;
  background: #1e3e7b17 0% 0% no-repeat padding-box;
  border: 1px solid #ffffff24;
  border-radius: 15px;
  padding: 25px;
  gap: 15px;
  margin-bottom: 20px;
  min-width: none;
}

.cardContent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  justify-content: space-around;
  max-height: fit-content;
  margin: 5px;
  padding: 20px 30px 20px 0;
}

.cardContentTitle {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.cardContentTitle h3 {
  color: var(--white);
  text-align: left;
  font: normal normal medium 25px/30px Rubik;
  letter-spacing: 0px;
  opacity: 1;
}

.cardContentTitle p {
  font: normal normal normal 18px/22px Rubik;
  letter-spacing: 0px;
  color: var(--white);
  opacity: 0.43;
}

.tweetText {
  min-height: 80px;
  width: 100%;
  max-height: fit-content;
  font: normal normal normal 17px/25px Rubik;
  color: #d9d9d9;
  letter-spacing: 0.23px;
  text-align: left;
  opacity: 1;
}

.cardImage img {
  width: 82px;
  height: 82px;
  border-radius: 50%;
}

.cardContent span {
  color: var(--light-green);
  text-align: left;
  font: medium medium medium 18px/22px Rubik;
  letter-spacing: 0px;
  color: #72efdb;
  opacity: 1;
}

@media (max-width: 768px) {
  .cardContainer {
    margin: 10px;
    max-width: 100%;
    padding: 8px;
    gap: 0;
  }

  .cardContentTitle {
    border: 2px;
  }

  .cardContent {
    padding: 0;
    justify-content: center;
    border: 2px;
  }

  .tweetText {
    font: normal normal normal 14px/12px Rubik;
    letter-spacing: 0.14px;
    margin-top: 10px;
    min-height: 50px;
    width: 80%;
  }

  .cardContentTitle h3,
  .cardContainer p {
    font: normal normal normal 15px/14px Rubik;
    width: 100%;
  }

  .cardContent span {
    font-size: 12px;
  }

  .cardImage img {
    width: 50px;
    height: 50px;
  }
}

@media (max-width: 414px) {
}
