.cardContainer {
  display: flex;
  max-width: 40vw;
  background: #1e3e7b17 0% 0% no-repeat padding-box;
  border: 0.0625rem solid #ffffff24;
  border-radius: 0.9375rem;
  padding: 1.5625rem;
  gap: 0.9375rem;
  margin-bottom: 1.25rem;
  min-width: none;
}

.cardContent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  justify-content: space-around;
  max-height: fit-content;
  margin: 0.3125rem;
}

.cardContentTitle {
  display: flex;
  justify-content: space-between;
  gap: 0.625rem;
}

.cardContentTitle h3 {
  color: var(--white);
  text-align: left;
  font: normal normal medium 1.5625rem/1.875rem Rubik;
  letter-spacing: 0rem;
  opacity: 1;
}

.cardContentTitle p {
  font: normal normal normal 1.125rem/1.375rem Rubik;
  letter-spacing: 0rem;
  color: var(--white);
  opacity: 0.43;
}

.cardContentTitle p:hover {
  color: var(--light-green);
  opacity: 1;
  font-weight: bold;
}

.tweetText {
  min-height: 5rem;
  width: 100%;
  max-height: fit-content;
  font: normal normal normal 1.0625rem/1.5625rem Rubik;
  color: #d9d9d9;
  letter-spacing: 0.0144rem;
  text-align: left;
  opacity: 1;
}

.cardImage img {
  width: 5.125rem;
  height: 5.125rem;
  border-radius: 50%;
}

.cardContent span {
  text-align: left;
  font-size: 1.26rem;
  letter-spacing: 0rem;
  color: #72efdb;
  opacity: 1;
  margin-top: 2vw;
}

.cardContent span:hover {
  font-weight: bold;
}

@media (max-width: 48rem) {
  .cardContainer {
    margin: 0.625rem 5vw 5vw 5vw;
    max-width: 100%;
    gap: 0;
    border-radius: 0.3125rem;
  }

  .cardContentTitle {
    border: 0.125rem;
  }

  .cardContent {
    padding: 0;
    justify-content: center;
    border: 0.125rem;
    gap: 0.5rem;
  }

  .tweetText {
    font: normal normal normal 0.875rem/0.75rem Rubik;
    letter-spacing: 0.0125rem;
    margin-top: 0.625rem;
    min-height: 3.125rem;
    width: 100%;
  }

  .cardContentTitle h3,
  .cardContainer p {
    font-size: 0.875rem;
    width: 100%;
    line-height: 1;
  }

  .cardContent span {
    font-size: 0.875rem;
  }

  .cardImage img {
    width: 3.125rem;
    height: 3.125rem;
    margin-right: 2vw;
  }
}

@media (max-width: 414px) {
  .cardContainer {
    border: 0.0625rem solid #ffffff24;
    border-radius: 0.3125rem;
    margin: 0 0 5vw 0;
    padding: 0.9375rem;
  }
}
