*{
    padding: 0;
    margin: 0;
}

/*Início da Estilização Header*/
.divContainer header{
    width: 1920px;
    height: 117px;
    background: #0A1744 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 29px #5538EE1F;
    opacity: 1;
    backdrop-filter: blur(30px);
    -webkit-backdrop-filter: blur(30px);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.logo{
    margin-top: 40px;
    margin-left: 64px;
    width: 239px;
    height: 42px;
    color: var(--unnamed-color-ffffff);
    font: normal normal normal 35px/27px Rubik;
    text-align: left;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1; 
}

.logo span{
    font-weight: bold;
}

.divButtonsHeader{
    width: 375px;
    height: 49px;
    margin-top: 36px;
    display: flex;
    margin-right: 61px;
}

.buttonAbout{
    padding-right: 35px;
}

.buttonAbout button{
    width: 170px;
    height: 49px;
    background: #72EFDB 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #5538EE29;
    border-radius: 25px;
    opacity: 1;
    border: 0;
    font: normal normal bold 17px/13px Rubik;
    letter-spacing: 2.55px;
    color: #0B1741;
    text-transform: uppercase;
    opacity: 1;
}

.buttonAbout img{
    position: relative;
    top: 2px;
    width: 13px;
    height: 13px;
    opacity: 1;
    margin-right: 13px;
}

.buttonLogin button{
    width: 170px;
    height: 49px;
    background: #1E3E7B 0% 0% no-repeat padding-box;
    border-radius: 25px;
    border: 0;
    color: var(--unnamed-color-ffffff);
    font: normal normal bold 17px/13px Rubik;
    letter-spacing: 2.55px;
    color: #FFFFFF;
    text-transform: uppercase;
    opacity: 1;
}

.buttonLogin img{
    position: relative;
    top: 0.5px;
    width: 16px;
    height: 13px;   
    opacity: 1;
    margin-right: 13px;
}
/*Final da Estilização Header*/

/*Início da Estilização div Sobre o Projeto*/
.divAboutProject{
    width: 1920px;
    height: 916px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: transparent linear-gradient(180deg,  #093188 40%, #0A1744 100% ) 0% 0% no-repeat padding-box;  
}

.descriptionAboutProject, .ilustrationAboutProject{
    width: 960px;
}

.descriptionAboutProject h1{
    color: var(--unnamed-color-ffffff);
    text-align: left;
    font: normal normal bold 82px/90px Rubik;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
    margin-top: 133px;
    margin-left: 140px;
}

.descriptionAboutProject p{
    text-align: left;
    font: normal normal normal 21px/38px Rubik;
    letter-spacing: 0px;
    color: #FCFCFC;
    opacity: 1;
    margin-left: 140px;
    margin-top: 40px;
}

.ilustrationAboutProject img{
    margin-top: 182px;
    margin-left: 230px;
}

/*Final da Estilização div Sobre o Projeto*/

/*Início da Estilização div Quem Somos*/
.divWhoWeAre{
    width: 1920px;
    height: 802px;
    background: #0A1744 0% 0% no-repeat padding-box;
}

.boxAboutWe{
    display: flex;
    flex-direction: row;
    margin-left: 196px;
}

.divWhoWeAre h2{
    color: var(--unnamed-color-ffffff);
    text-align: left;
    font: normal normal bold 54px/59px Rubik;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
    margin-left: 211px;
}

.profile{
    width: 349px;
    height: 461px;
    background: #0B1A49 0% 0% no-repeat padding-box;
    box-shadow: 0px 5px 10px #5538EE14;
    border: 1px solid #FFFFFF24;
    border-radius: 10px;
    opacity: 1;
    margin-right: 44px;
    margin-top: 108px;
}

.imgProfile{
    width: 178px;
    height: 178px;
    margin-top: 35px;
    margin-left: 86px;
    border-radius: 50%;
}

.profile h4{
    font: normal normal bold 28px/31px Rubik;
    letter-spacing: 0px;
    color: #72EFDB;
    opacity: 1;
    text-align: center;
    margin-top: 22px;
}

.profile p{
    width: 270px;
    height: 87px;
    text-align: center;
    font: normal normal normal 19px/25px Rubik;
    letter-spacing: 0.23px;
    color: #D9D9D9;
    opacity: 1;
    margin-top: 22px;
    margin-left: 40px;
}

.ourIcons{
    margin-left: 106px;
    margin-top: 25px;  
}

.ourIcons img{
    margin-right: 30px;
}
/*Fnal da Estilização div Quem Somos*/

/*Início da Estilização Footer*/
.divContainer footer{
    width: 1920px;
    height: 203px;
    background: #1E3E7B 0% 0% no-repeat padding-box;
    opacity: 0.72; 
}

.divContainer footer p{
    margin: 0;
    position: relative;
    top: 87px;
    font: normal normal normal 25px/19px Rubik;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1; 
    text-align: center;
}
/*Final da Estilização Footer*/